Repository cdennig/openhackteam4, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aicaffre, @cdennig, @tomhickling, @samgoudie, @roywils

validate staging
  .github/workflows/go.yml
Owners: @aicaffre

validate staging
  .github/workflows/go.yml
Owners: @aicaffre

Check endpoint of staging / NodeJS
  .github/workflows/userprofile.yml
  test.sh
Owners: @aicaffre

updated staging error
  .github/workflows/go.yml
Owners: @aicaffre

removed validate staging
  .github/workflows/go.yml
Owners: @aicaffre

slot setting for staging
  .github/workflows/go.yml
Owners: @aicaffre

fixing slots
  .github/workflows/poi.yml
Owners: @aicaffre

Test swapping
  .github/workflows/userprofile.yml
  test.sh
Owners: @aicaffre

Provoke error
  .github/workflows/userprofile.yml
  apis/userprofile/handlers/healthcheck/user.js
Owners: @aicaffre, @cdennig

Revert error
  apis/userprofile/handlers/healthcheck/user.js
Owners: @cdennig

Provoke error
  apis/userprofile/handlers/healthcheck/user.js
Owners: @cdennig

Script to check health endpoint
  apis/userprofile/handlers/healthcheck/user.js
  test.sh
Owners: @cdennig, @aicaffre

Add stage "production"
  .github/workflows/userprofile.yml
Owners: @aicaffre

fixed slot settings
  .github/workflows/JavaMaven.yml
Owners: @aicaffre

Missing checkout
  .github/workflows/userprofile.yml
Owners: @aicaffre

Revert script for checking healthy status
  test.sh
Owners: @aicaffre

Remove comment
  .github/workflows/userprofile.yml
Owners: @aicaffre

Login to azure in production step
  .github/workflows/userprofile.yml
Owners: @aicaffre

Add issue creation if staging env fails
  .github/workflows/userprofile.yml
Owners: @aicaffre

merged in blue green deployment with status check scripts and slot swaps
  .github/workflows/JavaMaven.yml
Owners: @aicaffre

change label to staging
  .github/workflows/JavaMaven.yml
Owners: @aicaffre

added staging job
  .github/workflows/poi.yml
Owners: @aicaffre

staging swap + healthcheck
  .github/workflows/go.yml
Owners: @aicaffre

typo
  .github/workflows/go.yml
Owners: @aicaffre

tab format fix
  .github/workflows/go.yml
Owners: @aicaffre

added production slot swap job
  .github/workflows/poi.yml
Owners: @aicaffre

format fix
  .github/workflows/go.yml
Owners: @aicaffre

syntax
  .github/workflows/go.yml
Owners: @aicaffre

syntax
  .github/workflows/go.yml
Owners: @aicaffre

Trigger workflow
  apis/userprofile/README.md
  test.sh
Owners: @cdennig, @aicaffre

Revert error in test.sh
  test.sh
Owners: @aicaffre

Change package.json
  apis/userprofile/package.json
Owners: @cdennig

Temp version of canary-update
  canary-update.sh
Owners: @aicaffre

.github/CODEOWNERS:

* @aicaffre
/apis/userprofile/ @cdennig
/apis/poi/ @tomhickling
/apis/trips/ @samgoudie
/apis/user-java/ @roywils
