Repository cdennig/openhackteam4, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aicaffre, @cdennig, @tomhickling, @samgoudie, @roywils

Add slot settings
  .github/workflows/userprofile.yml
Owners: @aicaffre

Adjust slot name
  .github/workflows/userprofile.yml
Owners: @aicaffre

Swap slots
  .github/workflows/userprofile.yml
Owners: @aicaffre

Update JavaMaven.yml
  .github/workflows/JavaMaven.yml
Owners: @aicaffre

Sleep before swapping
  .github/workflows/userprofile.yml
Owners: @aicaffre

Swap #2
  .github/workflows/userprofile.yml
Owners: @aicaffre

Swap #3
  .github/workflows/userprofile.yml
Owners: @aicaffre

test1
  .github/workflows/poi.yml
Owners: @aicaffre

Run build steps only on master
  .github/workflows/userprofile.yml
Owners: @aicaffre

Check if build runs with correct ref
  .github/workflows/userprofile.yml
Owners: @aicaffre

Adjust dependencies of build
  .github/workflows/userprofile.yml
Owners: @aicaffre

test2
  apis/poi/tests/UnitTests/HealthCheckTests.cs
  apis/poi/tests/UnitTests/UtilityTests.cs
Owners: @tomhickling

test2.2
  apis/poi/tests/UnitTests/UtilityTests.cs
Owners: @tomhickling

Use github sha for tagging
  .github/workflows/userprofile.yml
Owners: @aicaffre

Deploy to prod
  .github/workflows/userprofile.yml
Owners: @aicaffre

Change to master
  .github/workflows/userprofile.yml
Owners: @aicaffre

test3
  .github/workflows/poi.yml
Owners: @aicaffre

Introduce build vars
  .github/workflows/userprofile.yml
Owners: @aicaffre

change to go build
  .github/workflows/go.yml
Owners: @aicaffre

added failure
  .github/workflows/go.yml
Owners: @aicaffre

go - changed test status
  apis/trips/tests/healthroute_test.go
Owners: @samgoudie

test directory changed
  .github/workflows/go.yml
Owners: @aicaffre

Add container registry env var
  .github/workflows/userprofile.yml
Owners: @aicaffre

reverted test status to 200 ok
  apis/trips/tests/healthroute_test.go
Owners: @samgoudie

updated yml
  .github/workflows/go.yml
  .github/workflows/userprofile.yml
Owners: @aicaffre

updated job name
  .github/workflows/go.yml
Owners: @aicaffre

added docker username as variable
  .github/workflows/go.yml
  .github/workflows/userprofile.yml
Owners: @aicaffre

Update POI deployment
  .github/workflows/poi.yml
Owners: @aicaffre

Adjust test in POI
  .github/workflows/poi.yml
Owners: @aicaffre

added piece to create docker container etc using template from other languages
  .github/workflows/JavaMaven.yml
Owners: @aicaffre

remove dash
  .github/workflows/JavaMaven.yml
Owners: @aicaffre

Demo 4
  apis/userprofile/README.md
Owners: @cdennig

move into staging
  .github/workflows/poi.yml
Owners: @aicaffre

staging slot - GO
  .github/workflows/go.yml
Owners: @aicaffre

added slot swap
  .github/workflows/JavaMaven.yml
Owners: @aicaffre

Deploy to staging / NodeJS
  .github/workflows/userprofile.yml
Owners: @aicaffre

syntax typo
  .github/workflows/JavaMaven.yml
Owners: @aicaffre

Adjust nodejs deployment
  .github/workflows/userprofile.yml
Owners: @aicaffre

Go - test script
  .github/workflows/go.yml
Owners: @aicaffre

validate staging
  .github/workflows/go.yml
Owners: @aicaffre

.github/CODEOWNERS:

* @aicaffre
/apis/userprofile/ @cdennig
/apis/poi/ @tomhickling
/apis/trips/ @samgoudie
/apis/user-java/ @roywils
