Repository cdennig/openhackteam4, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aicaffre, @cdennig, @tomhickling, @samgoudie, @roywils

.github/CODEOWNERS:

* @aicaffre
/apis/userprofile/ @cdennig
/apis/poi/ @tomhickling
/apis/trips/ @samgoudie
/apis/user-java/ @roywils

Test commit to master
  apis/trips/README.md
Owners: @samgoudie

Fix typos in README
  apis/userprofile/README.md
Owners: @cdennig

Create userprofile.yml
  .github/workflows/userprofile.yml
Owners: @aicaffre

Adjusting workflow for userprofile API
  .github/workflows/userprofile.yml
Owners: @aicaffre

Adjust for npm test
  .github/workflows/userprofile.yml
Owners: @aicaffre

Remove workflow trigger via push to master
  .github/workflows/userprofile.yml
Owners: @aicaffre

Check for workflow trigger
  apis/user-java/README.md
Owners: @roywils

Provoke an error in userprofile tests
  apis/userprofile/tests/user.js_
Owners: @cdennig

Test trigger
  apis/userprofile/README.md
Owners: @cdennig

Change trigger for master / PR
  .github/workflows/userprofile.yml
Owners: @aicaffre

Test
  .github/workflows/userprofile.yml
Owners: @aicaffre

Trigger path
  .github/workflows/userprofile.yml
Owners: @aicaffre

Change in README
  apis/userprofile/README.md
Owners: @cdennig

Change healthcheck/user.js test
  apis/userprofile/tests/healthcheck/user.js
Owners: @cdennig

Create an issue on worfklow failure
  .github/workflows/userprofile.yml
Owners: @aicaffre

Change trigger for workflow
  .github/workflows/userprofile.yml
Owners: @aicaffre

Remove failing test
  apis/userprofile/tests/healthcheck/user.js
Owners: @cdennig

Change README
  apis/userprofile/README.md
Owners: @cdennig

Change test
  apis/userprofile/tests/healthcheck/user.js
Owners: @cdennig

Adjust test
  apis/userprofile/tests/healthcheck/user.js
Owners: @cdennig

Create poi.yml
  .github/workflows/poi.yml
Owners: @aicaffre

Update README.md
  apis/poi/README.md
Owners: @tomhickling

Create JavaMaven.yml
  .github/workflows/JavaMaven.yml
Owners: @aicaffre

Add Docker build & push
  .github/workflows/userprofile.yml
Owners: @aicaffre

chnge 2
  apis/poi/README.md
Owners: @tomhickling

Adjust deployment
  .github/workflows/userprofile.yml
Owners: @aicaffre

test
  apis/user-java/README.md
Owners: @roywils

Adjust workflow
  .github/workflows/userprofile.yml
Owners: @aicaffre

Update JavaMaven.yml
  .github/workflows/JavaMaven.yml
Owners: @aicaffre

test2
  apis/user-java/README.md
Owners: @roywils

Correct tagging
  .github/workflows/userprofile.yml
Owners: @aicaffre

poi test
  .github/workflows/poi.yml
Owners: @aicaffre

Update JavaMaven.yml
  .github/workflows/JavaMaven.yml
Owners: @aicaffre

test3
  apis/user-java/README.md
Owners: @roywils

Create go.yml
  .github/workflows/go.yml
Owners: @aicaffre

Tagging
  .github/workflows/userprofile.yml
Owners: @aicaffre

Update JavaMaven.yml
  .github/workflows/JavaMaven.yml
Owners: @aicaffre

test4
  apis/user-java/README.md
Owners: @roywils

Setting workdir
  .github/workflows/userprofile.yml
Owners: @aicaffre

working-directory
  .github/workflows/poi.yml
Owners: @aicaffre
